<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="carritostyle.css">
</head>
<body>
    <section class="barra-sup">
        <h3>Registrate para un 20% de descuento en tu primera compra!</h3>
        <header class="header">
            <nav class="nav">
                <a href="/" class="logo nav-link">KickStreet</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a href="/" class="nav-menu-link nav-link">Home</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'iniciarsesion' %}" class="nav-menu-link nav-link">Iniciar sesión</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'registro' %}" class="nav-menu-link nav-link">Registrarse</a>
                    </li>
                </ul>
            </nav>
        </header>
    </section>
    <div class="carritodecompras">
        <h2>Carrito de Compras</h2>
        <ul class="lista-carritodecompras">
        </ul>
        <p>Total: <span class="total"></span></p>
        <button class="vaciar-carritodecompras">Vaciar Carrito</button>
    </div>
</section>
<div class="frame">
    <img src="img/img1.jpg" alt="">
</div>
<div>
    <h2>Nuestra Selección</h2>
    <ul class="categorias">
        <li class="categorias-list">
            <a href="#" class="categorias-link categoria1 font-cat">Deportivas</a>
        </li>
        <li class="categorias-list">
            <a href="#" class="categorias-link categoria2">Casuales</a>
        </li>
        <li class="categorias-list">
            <a href="#" class="categorias-link categoria3">Descanso</a>
        </li>
    </ul>
</div>
<div>
    <ul class="img-categoria">
        <li>
            <a href="#"><img class="img-tamaño" src="img/deportiva.png" alt=""></a>
        </li>
        <li>
            <a href="#"><img class="img-tamaño" src="img/casual.jpg" alt=""></a>
        </li>
        <li>
            <a href="#"><img class="img-tamaño" src="img/descanso.jpg" alt=""></a>
        </li>
    </ul>
</div>
<script src="script.js"></script>

</body>
</html>
