{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra - KickStreet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    
</head>
<body>
    <section class="barra-sup">
        <h3 class="descuento">Registrate para un 20% de descuento en tu primera compra!</h3>
        <header class="header">
            <nav class="nav">
                <a href="/" class="logo nav-link">KickStreet</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a href="/" class="nav-menu-link nav-link">Home</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'iniciarsesion' %}" class="nav-menu-link nav-link">Iniciar sesión</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'registro' %}" class="nav-menu-link nav-link">Registrarse</a>
                    </li>
        </header>
    </section>
    
    <div class="container">
        <div class="row">
            {% for inv in inventario %}
            <div class="col-md-4 mx-auto" style = "margin-top: 200px;">
                <div class="card" style="width: 18rem;">
                    <img src="{{ inv.imagen.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ inv.modelo }}</h5>
                        <p class="card-text">Precio: {{ inv.valor }}</p>
                        <p class="card-text2">Talla:{{ inv.talla }}</p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <body>
        <div class="container">
            <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                <div class="card-body p-4" id="comments-container">
                </div>
                </div>
            </div>
            </div>
        </div>
        <script>
            fetch("https://jsonplaceholder.typicode.com/comments/")
            .then(response => response.json())
            .then(comments => {
                comments.slice(0, 1).forEach(comment => renderComment(comment));
            })
            .catch(error => console.error('Error fetching comments:', error));
    
            function renderComment(comment) {
            var commentHtml = `
                <div class="card mb-4">
                <div class="card-body">
                    <p>${comment.body}</p>
                    <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25" height="25" />
                        <p class="small mb-0 ms-2">${comment.name}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <p class="small text-muted mb-0">Upvote?</p>
                        <i class="far fa-thumbs-up mx-2 fa-xs text-body" style="margin-top: -0.16rem;"></i>
                        <p class="small text-muted mb-0">${comment.id}</p>
                    </div>
                    </div>
                </div>
                </div>
            `;
            document.getElementById('comments-container').innerHTML += commentHtml;
            }
        </script>
</body>
</html>
