<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra - KickStreet</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="barra-sup">
        <h3>Registrate para un 20% de descuento en tu primera compra!</h3>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">KickStreet</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a href="index.html" class="nav-menu-link nav-link">Home</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="iniciarsesion.html" class="nav-menu-link nav-link">Iniciar sesión</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="registro.html" class="nav-menu-link nav-link">Registrarse</a>
                    </li>
        </header>
    </section>

    <div class="producto">
        <div class="zapatilla">
            <img src="img/deportivasnike.png" alt="nike39">
            <h3>Nike Air Zoom Pegasus 39</h3>
            <p class="precio">$129.990</p>
            <button class="btn-agregar" onclick="agregarAlCarrito('Nike Air Zoom Pegasus 39')">Agregar al carrito</button>
        </div>

        <div class="zapatilla">
            <img src="img/deportivasnikere.png" alt="nikere7">
            <h3>Nike Revolution 7</h3>
            <p class="precio">$89.990</p>
            <button class="btn-agregar" onclick="agregarAlCarrito('Nike Revolution 7')">Agregar al carrito</button>
        </div>
    </div>
    </body>
</html>
