{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - KickStreet</title>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">  
</head>

<body>
    <section class="barra-sup">
        <h3>Registrate para un 20% de descuento en tu primera compra!</h3>
        <header class="header">
            <nav class="nav">
                <a href="/" class="logo nav-link">KickStreet</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a href="/" class="nav-menu-link nav-link">Home</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'iniciarsesion' %}" class="nav-menu-link nav-link">Iniciar sesión</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'registro' %}" class="nav-menu-link nav-link">Registrarse</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'carritodecompras' %}" class="nav-menu-link nav-link">Carrito de compras</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'modificarperfil' %}" class="nav-menu-link nav-link">Modificar Perfil</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="{% url 'form_api' %}" class="nav-menu-link nav-link">Menu API</a>
                    </li>
                </ul>
        </header>
    </section>

    <div class="frame">
        <img src="{% static 'core/img/img1.jpg' %}">
    </div>
    <div>
        <h2>Nuestra Selección</h2>
        <ul class="categorias">
            <li class="categorias-list">
                <a href="{% url 'deportivas' %}" class="categorias-link categoria1 font-cat">Deportivas</a>
            </li>
            <li class="categorias-list">
                <a href="{% url 'casuales' %}" class="categorias-link categoria2">Casuales</a>
            </li>
            <li class="categorias-list">
                <a href="{% url 'descanso' %}" class="categorias-link categoria3">Descanso</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="img-categoria">
            <li>
                <a href="{% url 'deportivas' %}"><img class="img-tamaño" src="{% static 'core/img/deportiva.png' %}" alt=""></a>
            </li>
            <li>
                <a href="{% url 'casuales' %}"><img class="img-tamaño" src="{% static 'core/img/casual.jpg' %}" alt=""></a>
            </li>
            <li>
                <a href="{% url 'descanso' %}"><img class="img-tamaño" src="{% static 'core/img/descanso.jpg' %}" alt=""></a>
            </li>
        </ul>
    </div>
    <script src="script.js"></script>
    
</body>

</html>
