<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - KickStreet</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="barra-sup">
        <h3>Registrate para un 20% de descuento en tu primera compra!</h3>
        <header class="header">
            <nav class="nav">
                <a href="#" class="logo nav-link">KickStreet</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a href="index.html" class="nav-menu-link nav-link">Home</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="iniciarsesion.html" class="nav-menu-link nav-link">Iniciar sesión</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="registro.html" class="nav-menu-link nav-link">Registrarse</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="carritodecompras.html" class="nav-menu-link nav-link">Carrito de compras</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="modificarperfil.html" class="nav-menu-link nav-link">Modificar Perfil</a>
                    </li>
                </ul>
        </header>
    </section>
    <div class="frame">
        <img src="img/img1.jpg" alt="">
    </div>
    <div>
        <h2>Nuestra Selección</h2>
        <ul class="categorias">
            <li class="categorias-list">
                <a href="deportivas.html" class="categorias-link categoria1 font-cat">Deportivas</a>
            </li>
            <li class="categorias-list">
                <a href="casuales.html" class="categorias-link categoria2">Casuales</a>
            </li>
            <li class="categorias-list">
                <a href="descanso.html" class="categorias-link categoria3">Descanso</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="img-categoria">
            <li>
                <a href="deportivas.html"><img class="img-tamaño" src="img/deportiva.png" alt=""></a>
            </li>
            <li>
                <a href="casuales.html"><img class="img-tamaño" src="img/casual.jpg" alt=""></a>
            </li>
            <li>
                <a href="descanso.html"><img class="img-tamaño" src="img/descanso.jpg" alt=""></a>
            </li>
        </ul>
    </div>
    <script src="script.js"></script>
    
</body>

</html>
