<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - KickStreet</title>
    <link rel="stylesheet" href="modificarperfilstyle.css">
</head>

<body>
    <section class="barra-sup">
        <h3>Registrate para un 20% de descuento en tu primera compra!</h3>
        <header class="header">
            <nav class="nav">
                <a href="#" class="logo nav-link">KickStreet</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a href="index.html" class="nav-menu-link nav-link">Home</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="modificarperfil.html" class="nav-menu-link nav-link">Perfil</a>
                    </li>
        </header>
    </section>
    <section class="perfil">
        <form action="">
            <h3>Modificar Perfil</h3>
            <input class="form-box" type="text" name="nombres" placeholder="Nombre">
            <input class="form-box" type="text" name="apellidos" placeholder="Apellido">
            <input class="form-box" type="text" name="direccion" placeholder="Cambiar dirección de despacho">
            <input class="form-box" type="text" name="contacto" placeholder="Contacto">
            <input class="form-box" type="text" name="email" placeholder="Cambiar email">
            <input class="boton" type="submit" value="Guardar cambios">
               
        </form>
    </section>
</body>
</html>
